[submodule "m4"]
	path = m4
	url = ../icecast-m4.git
[submodule "src/common"]
	path = src/common
	url = ../icecast-common.git
[submodule "Thirdparties/VorbisOgg"]
	path = Thirdparties/VorbisOgg
	url = https://github.com/SC-One/vorbis.git
